<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static('jobs/styles.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="container">
        <nav>
            <a href="{{ url('jobs:index') }}">home</a> -
            <a href="{{ url('jobs:titles') }}">titles</a>
            <hr>
        </nav>

        {% block body %}
        {% endblock %}
    </div>
</body>

</html>