<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li>Statistics on rejections, ignores, etc</li>
        <li>This will be the page for all statistics, even as we add new ones</li>
        <li>Jobs by job board</li>
        <li>Interest by job board, etc</li>
        <li>Types of jobs by job board, what is most interesting to me?</li>
        <li>Statistics on companies, what are we seeing, which companies are worse?</li>
        <li>ML to figure out where we should concentrate our efforts in job search</li>

        <li>Which companies care more about a very specific stack, which are more generic</li>
        <li>Is the job listing more frontend based or more fullstack/backend?</li>
        <li>Which are the most buzzwordy job postings?</li>
        <li>Which postings are most likely to be startups?</li>
        <li>Which industry is a job posting in?</li>
    </ul>
    
</body>
</html>